 <footer>
        <p>
            <a href="https://webpages.charlotte.edu/zmarti18/">CLT Web</a> ||
            <a href="https://zkmartinez18.github.io/">GitHub.io</a> ||
            <a href="https://github.com/zkmartinez18/zkmartinez18.github.io">GitHub</a> ||
            <a href="https://www.freecodecamp.org/zkmartinez18">freeCodeCamp</a> ||
            <a href="https://www.codecademy.com/profiles/zkmartinez18">Codecademy</a> ||
            <a href="https://www.linkedin.com/in/zackery-martinez-18315238b">LinkedIn</a>
        </p>
        <p>
            <a href="martinezdigitaldesigns.com/">Martinez Digital Designs</a>
        </p>

        <p><em>Certified in HTML and CSS</em></p>
        
        <p>Zackery Martinez &copy;2026</p> 
    </footer>